@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

html,body{
  overflow-x: hidden;
  background-color: black;
}

.poppins{
    font-family: "Poppins", sans-serif;
  }
/* selector {
    aspect-ratio: 858 / 510; 
    background-color: tomato; 
    mask-image: url("Insert your converted svg data here");
    /* -webkit-mask-image: url("and also here");
    /* mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% auto;
    -webkit-mask-size: 100% auto; */
  /* } */ 
  